html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font: caption;
    color: #fff;
}

a, button {
    color: #aaa;
    text-decoration: none;
    cursor: default;
}

    a:hover, button:hover {
        color: #fff;
    }

button {
    outline: none;
}

.container {
    padding: 20px;
}

.flex {
    display: flex;
    height: 100%;
}

    .flex.flex-wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

.col-1 { width: 10%; }
.col-2 { width: 20%; }
.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
