#menu {
    background: #000;
    margin: 0;
    -webkit-user-select: none;
    width: 200px;
    min-width: 200px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

    #menu > * {
        display: block;
        padding: 5px 0;
    }

    #menu > span {
        font-size: 11px;
        margin-top: 10px;
        text-transform: uppercase;
    }
